In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd

In [2]:
response = requests.get('https://jsonplaceholder.typicode.com/posts')

In [ ]:
print(response.text)

In [6]:
city = 'Philadelphia'

In [15]:
url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}'

In [ ]:
r = requests.get(url)
print(r.text)

In [7]:
load_dotenv(dotenv_path='./.env')
API_key = os.getenv('API_key')
print(API_key)

url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_key}'

r = requests.get(url)
print(r.text)

1ca1b0f23be8f03c8c78a8001a3111c7
{"coord":{"lon":-75.1638,"lat":39.9523},"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],"base":"stations","main":{"temp":290.97,"feels_like":290.92,"temp_min":288.83,"temp_max":292.68,"pressure":1009,"humidity":81},"visibility":10000,"wind":{"speed":1.54,"deg":260},"clouds":{"all":0},"dt":1695081966,"sys":{"type":2,"id":2011927,"country":"US","sunrise":1695033854,"sunset":1695078343},"timezone":-14400,"id":4560349,"name":"Philadelphia","cod":200}

In [26]:
#import packages

import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd

In [44]:
load_dotenv(dotenv_path='./.env')
API_key = os.getenv('API_key')
city = 'San Francisco'
units = 'imperial'

url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_key}&units={units}'

In [38]:
r = requests.get(url)
data = json.loads(r.text)
data

{'coord': {'lon': -122.4194, 'lat': 37.7749},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02d'}],
 'base': 'stations',
 'main': {'temp': 67.15,
  'feels_like': 67.19,
  'temp_min': 62.82,
  'temp_max': 75.45,
  'pressure': 1013,
  'humidity': 77},
 'visibility': 10000,
 'wind': {'speed': 16.11, 'deg': 270},
 'clouds': {'all': 20},
 'dt': 1695084476,
 'sys': {'type': 2,
  'id': 2017837,
  'country': 'US',
  'sunrise': 1695045238,
  'sunset': 1695089635},
 'timezone': -25200,
 'id': 5391959,
 'name': 'San Francisco',
 'cod': 200}

In [29]:
temp = data['main']['temp']
print(f'The temp in {city} is currently {temp} F.')

The temp in San Francisco is currently 68.18 F.

In [37]:
df = pd.DataFrame(data['weather'])
df

    id    main description icon
0  801  Clouds  few clouds  02d

In [45]:
try:
    response = requests.get(url=url)
    
    if response.status_code == 200:
        data = json.loads(response.text)
        print(data)
    else:
        print(f'Request failed with status code: {response.status_code}')
except requests.exceptions.RequestException as e:
    print('Conncection error occurred:', e)

{'coord': {'lon': -122.4194, 'lat': 37.7749}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 67.15, 'feels_like': 67.19, 'temp_min': 62.82, 'temp_max': 75.45, 'pressure': 1013, 'humidity': 77}, 'visibility': 10000, 'wind': {'speed': 16.11, 'deg': 270}, 'clouds': {'all': 20}, 'dt': 1695084476, 'sys': {'type': 2, 'id': 2017837, 'country': 'US', 'sunrise': 1695045238, 'sunset': 1695089635}, 'timezone': -25200, 'id': 5391959, 'name': 'San Francisco', 'cod': 200}

In [88]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd

# loading api key and declaring our variables
load_dotenv(dotenv_path='./.env')
API_key = os.getenv('API_key')
units = 'imperial'

# loop though cities
# initialize empty dict
# every city --> make get request
# store data['main'] in a dict ---- > dictionary['city'] = data['main']

city_list = []
count = 5
while count > 0:
    city = input('Please name a city:')
    city_list.append(city)
    count -= 1

weather = {}

for i in city_list:
    url = f'https://api.openweathermap.org/data/2.5/weather?q={i}&appid={API_key}&units={units}'
    r = requests.get(url=url)
    data = json.loads(r.text)
    weather[i] = data['main']

df = pd.DataFrame(weather)
df
## declaring url path with our variables
# urlL = f'https://api.openweathermap.org/data/2.5/weather?q={L}&appid={API_key}&units={units}'
# urlB = f'https://api.openweathermap.org/data/2.5/weather?q={B}&appid={API_key}&units={units}'
# urlC = f'https://api.openweathermap.org/data/2.5/weather?q={C}&appid={API_key}&units={units}'
# # making the request for the data
# rL = requests.get(url=urlL)
# rB = requests.get(url=urlB)
# rC = requests.get(url=urlC)
# stLouis = json.loads(rL.text)
# boston = json.loads(rB.text)
# columbia = json.loads(rC.text)

# data = [stLouis, boston, columbia]
# df = pd.DataFrame(data)
# df.to_csv('Merged_Weather.csv', index=False)

            Charlotte  Columbia  Orlando   Athens  Chicago
temp            61.56     64.47    76.87    71.53    59.88
feels_like      61.56     64.67    77.68    71.15    59.23
temp_min        58.48     60.35    71.91    68.58    54.99
temp_max        64.17     66.16    79.07    73.38    63.18
pressure      1016.00   1016.00  1014.00  1014.00  1017.00
humidity        88.00     86.00    73.00    59.00    78.00

In [101]:
x = df.transpose()
x.columns = x.iloc[0]
x = x[1:]
x = x.reset_index()
x
# x.to_csv('current_temp.csv')

index      index   temp feels_like temp_min temp_max pressure humidity
0      Charlotte  61.56      61.56    58.48    64.17   1016.0     88.0
1       Columbia  64.47      64.67    60.35    66.16   1016.0     86.0
2        Orlando  76.87      77.68    71.91    79.07   1014.0     73.0
3         Athens  71.53      71.15    68.58    73.38   1014.0     59.0
4        Chicago  59.88      59.23    54.99    63.18   1017.0     78.0

In [73]:
merged = pd.read_csv('./Merged_Weather.csv')
merged['main']

0    {'temp': 66.87, 'feels_like': 66.16, 'temp_min...
1    {'temp': 64.44, 'feels_like': 64.96, 'temp_min...
2    {'temp': 65.89, 'feels_like': 66.13, 'temp_min...
Name: main, dtype: object